### How does the emotional tone of films influence the selection of actor traits, such as age and gender?

In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
DATA_PATH = '../../data/final_data_complete.csv'
data_df = pd.read_csv(DATA_PATH)
data_df.head()

,WikiID,FreebaseID,Name,ReleaseDate,Runtime,Languages_tuple,Countries_tuples,Genres_tuples,Languages,Countries,...,ActorAge,ActorGender,ActorBirthDate,ActorGenderFlag,merge_title,movieId,title,mean_ratings,std_dev_ratings,count_ratings
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",['English Language'],['United States of America'],...,"[42.0, 27.0, 32.0, 33.0, 23.0, 52.0, 56.0, 37....","['F', 'F', 'M', 'M', 'F', 'F', 'F', 'M', 'M', ...","[Timestamp('1958-08-26 00:00:00'), Timestamp('...","[1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",ghosts of mars,4735.0,Ghosts of Mars (2001),2.427083,1.087064,144.0
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",['English Language'],['United States of America'],...,"[37.78852253927453, 43.0, 37.78852253927453, 3...","['M', 'F', 'M', 'F', 'M', 'M', 'M', 'F', 'F', ...","[NaT, Timestamp('1956-12-19 00:00:00'), NaT, N...","[0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0]",getting away with murder: the jonbenét ramsey ...,NaN,NaN,NaN,NaN,NaN
2,28463795,/m/0crgdbh,Brun bitter,1988,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",['Norwegian Language'],['Norway'],...,"[33.0, 28.0, 40.0, 30.0]","['M', 'F', 'M', 'F']","[Timestamp('1954-10-05 00:00:00'), Timestamp('...","[0, 1, 0, 1]",brun bitter,NaN,NaN,NaN,NaN,NaN
3,9363483,/m/0285_cd,White Of The Eye,1987,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",['English Language'],['United Kingdom'],...,"[32.0, 26.0]","['M', 'F']","[Timestamp('1954-05-08 00:00:00'), Timestamp('...","[0, 1]",white of the eye,90015.0,White of the Eye (1987),2.250000,2.474874,2.0
4,261236,/m/01mrr1,A Woman in Flames,1983,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",['German Language'],['Germany'],...,"[32.0, 32.0, 35.0]","['F', 'M', 'M']","[Timestamp('1950-06-20 00:00:00'), Timestamp('...","[1, 0, 0]",a woman in flames,NaN,NaN,NaN,NaN,NaN

In [9]:
# Print all available columns with datatypes
data_df['Genres'][:5]

0    ['Thriller', 'Science Fiction', 'Horror', 'Adv...
1    ['Mystery', 'Biographical film', 'Drama', 'Cri...
2                           ['Crime Fiction', 'Drama']
3    ['Thriller', 'Erotic thriller', 'Psychological...
4                                            ['Drama']
Name: Genres, dtype: object

Genres seems to be a string instead of list, we will change that for further analysis

In [10]:
import ast
# Make a copy
emotion_df = data_df.copy()
emotion_df['Genres'] = emotion_df['Genres'].apply(ast.literal_eval)

In [13]:
# Movies can have multiple genres
emotion_df_expanded = emotion_df.explode('Genres')
unique_genres = emotion_df_expanded['Genres'].unique()
print(f"Number of genres: {len(unique_genres)}")

Number of genres: 364

There are over 300 genres! We are only interested in the most frequent and most common ones, lets check.

In [14]:
genre_counts = emotion_df_expanded['Genres'].value_counts()
genre_counts[:20]

Drama               34024
Comedy              16359
Romance Film        10241
Black-and-white      9096
Action               8804
Thriller             8755
Short Film           8141
World cinema         7160
Crime Fiction        6954
Indie                6904
Documentary          5631
Horror               5286
Silent film          5250
Adventure            4972
Family Film          4601
Action/Adventure     4568
Comedy film          4363
Musical              4162
Animation            3535
Romantic drama       3375
Name: Genres, dtype: int64