In [1]:
import pandas as pd

In [5]:
prefix_path = '../../data/MovieSummaries'

In [6]:
header = ['Wikipedia movie ID', 'Summary']
df_plots = pd.read_csv(f'{prefix_path}/plot_summaries.txt', names=header, sep='\t')
print(len(df_plots))
df_plots.head()

42303

   Wikipedia movie ID                                            Summary
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...

In [7]:
df_plots.isnull().sum()

Wikipedia movie ID    0
Summary               0
dtype: int64

In [12]:
file_path = f'{prefix_path}/movie.metadata.tsv'

df_movie = pd.read_csv(file_path, sep='\t', header=None)
df_movie.head()

,0,1,2,3,4,5,6,7,8
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

### Proposed methods
- Time series analysis to track trends in book adaptions over decades
- Sentiment analysis on plot summaries to compare emotional tones between books and their adaptions
- Network analysis to visualize connections between authors, directors and genres
- Regression analysis to identify factors contributing to successful adaptions