In [1]:
import pandas as pd

In [2]:
headers = ['Wikipedia movie ID', 'Freebase movie ID', 'Movie name', 'Movie release date', 'Movie box office revenue', 'Movie runtime', 'Movie languages', 'Movie countries', 'Movie genres']

df_movie_metadata = pd.read_csv('../../data/MovieSummaries/movie.metadata.tsv', sep='\t', names=headers, header=None)
print(len(df_movie_metadata))
df_movie_metadata.head()

81741

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [3]:
df_movies = pd.read_csv('../../data/ml-32m/movies.csv', sep=',', header=0)
print(len(df_movies))
df_movies.head()

87585

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
df_movies['merge_title'] = df_movies['title'].str.extract(r'^(.*?)(?=\s\()')[0].str.lower()
df_movies['merge_year'] = df_movies['title'].str.extract(r'\((\d{4})\)')[0].astype('Int64')

df_movies.head()

,movieId,title,genres,merge_title,merge_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,toy story,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,jumanji,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,grumpier old men,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,waiting to exhale,1995
4,5,Father of the Bride Part II (1995),Comedy,father of the bride part ii,1995

In [9]:
df_movie_metadata['merge_title'] = df_movie_metadata['Movie name'].str.lower().str.strip()
df_movie_metadata['merge_year'] = df_movie_metadata['Movie release date'].apply(lambda x: x.split('-')[0] if pd.notna(x) else None).astype('Int64')
df_movie_metadata.head(10)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,merge_title,merge_year
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",ghosts of mars,2001
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",getting away with murder: the jonbenét ramsey ...,2000
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",brun bitter,1988
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",white of the eye,1987
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",a woman in flames,1983
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen...",the gangsters,1913
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",the sorcerer's apprentice,2002
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",alexander's ragtime band,1938
8,9997961,/m/06_y2j7,Contigo y aquí,1974,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/04t36"": ""Musical"", ""/m/07s9rl0"": ""Drama"",...",contigo y aquí,1974
9,2345652,/m/075f66,City of the Dead,1960,NaN,76.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatur...",city of the dead,1960

In [10]:
df_merged = pd.merge(df_movie_metadata, df_movies, how='inner', on=['merge_title', 'merge_year'])
print(len(df_merged))
df_merged.head()

23741

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,merge_title,merge_year,movieId,title,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",ghosts of mars,2001,4735,Ghosts of Mars (2001),Horror|Sci-Fi|Thriller
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",white of the eye,1987,90015,White of the Eye (1987),Thriller
2,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",alexander's ragtime band,1938,8881,Alexander's Ragtime Band (1938),Drama|Musical
3,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,1974,NaN,89.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",lady snowblood 2: love song of vengeance,1974,177757,Lady Snowblood 2: Love Song of Vengeance (1974),Drama|Thriller
4,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",henry v,1989,1224,Henry V (1989),Action|Drama|Romance|War

In [11]:
prefix_path = '../../data/MovieSummaries'
header = ['Wikipedia movie ID', 'Summary']
df_plots = pd.read_csv(f'{prefix_path}/plot_summaries.txt', names=header, sep='\t')
print(len(df_plots))
df_plots.head()

42303

   Wikipedia movie ID                                            Summary
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...

In [12]:
df_complete = pd.merge(df_merged, df_plots, how='inner', on=['Wikipedia movie ID'])
print(len(df_complete))
df_complete.head()

16990

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,merge_title,merge_year,movieId,title,genres,Summary
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",ghosts of mars,2001,4735,Ghosts of Mars (2001),Horror|Sci-Fi|Thriller,"Set in the second half of the 22nd century, th..."
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",white of the eye,1987,90015,White of the Eye (1987),Thriller,A series of murders of rich young women throug...
2,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",henry v,1989,1224,Henry V (1989),Action|Drama|Romance|War,{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...
3,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",mary poppins,1964,1028,Mary Poppins (1964),Children|Comedy|Fantasy|Musical,The film opens with Mary Poppins perched in a...
4,21926710,/m/05p45cv,White on Rice,2009,NaN,82.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",white on rice,2009,90777,White on Rice (2009),Comedy,Jimmy ([[Hiroshi Watanabe loves dinosaurs and...

In [13]:
import ast

def conv_to_dict(val):
    try:
        return ast.literal_eval(val) if pd.notna(val) else {}
    except (ValueError, SyntaxError):
        return {}


def get_list(x):
    return list(x.values())

In [14]:
df_complete['Languages'] = df_complete['Movie languages'].apply(conv_to_dict).apply(get_list)
df_complete.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,merge_title,merge_year,movieId,title,genres,Summary,Languages
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",ghosts of mars,2001,4735,Ghosts of Mars (2001),Horror|Sci-Fi|Thriller,"Set in the second half of the 22nd century, th...",[English Language]
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",white of the eye,1987,90015,White of the Eye (1987),Thriller,A series of murders of rich young women throug...,[English Language]
2,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",henry v,1989,1224,Henry V (1989),Action|Drama|Romance|War,{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...,[English Language]
3,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",mary poppins,1964,1028,Mary Poppins (1964),Children|Comedy|Fantasy|Musical,The film opens with Mary Poppins perched in a...,[English Language]
4,21926710,/m/05p45cv,White on Rice,2009,NaN,82.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",white on rice,2009,90777,White on Rice (2009),Comedy,Jimmy ([[Hiroshi Watanabe loves dinosaurs and...,[]

In [15]:
df_complete['Languages'].value_counts()

Languages
[English Language]                                                                                          10949
[]                                                                                                           1140
[Japanese Language]                                                                                           325
[Hindi Language]                                                                                              294
[French Language]                                                                                             286
                                                                                                            ...
[French Language, Spanish Language, Hebrew Language, English Language, Thai Language]                           1
[French Language, Russian Language, German Language]                                                            1
[Mandarin Chinese, English Language, Standard Mandarin, Cantonese]                                              1
[Estonian Language, Russian Language, English Language]                                                         1
[Arabic Language, English Language, French Language, Persian Language, Standard Mandarin, Urdu Language]        1
Name: count, Length: 816, dtype: int64

In [17]:
df_complete

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,merge_title,merge_year,movieId,title,genres,Summary,Languages
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",ghosts of mars,2001,4735,Ghosts of Mars (2001),Horror|Sci-Fi|Thriller,"Set in the second half of the 22nd century, th...",[English Language]
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",white of the eye,1987,90015,White of the Eye (1987),Thriller,A series of murders of rich young women throug...,[English Language]
2,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",henry v,1989,1224,Henry V (1989),Action|Drama|Romance|War,{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...,[English Language]
3,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",mary poppins,1964,1028,Mary Poppins (1964),Children|Comedy|Fantasy|Musical,The film opens with Mary Poppins perched in a...,[English Language]
4,21926710,/m/05p45cv,White on Rice,2009,NaN,82.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",white on rice,2009,90777,White on Rice (2009),Comedy,Jimmy ([[Hiroshi Watanabe loves dinosaurs and...,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16985,3868432,/m/0b44p5,Into the Mirror,2003-08-14,NaN,113.0,"{""/m/02hwhyv"": ""Korean Language""}","{""/m/06qd3"": ""South Korea""}","{""/m/03npn"": ""Horror""}",into the mirror,2003,171851,Into the Mirror (2003),Crime|Horror|Mystery,After accidentally causing the death of his pa...,[Korean Language]
16986,15394941,/m/03m6zh4,Gopi Kishan,1994-12-02,NaN,NaN,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/07s9rl0"": ""Drama"", ""/m/02kdv5l"": ""Action""...",gopi kishan,1994,146220,Gopi Kishan (1994),(no genres listed),Kishan killed a man in his childhood when the...,[Hindi Language]
16987,26482675,/m/0bbwngb,Eşrefpaşalılar,2010-03-05,1847671.0,NaN,{},{},"{""/m/05p553"": ""Comedy film"", ""/m/07s9rl0"": ""Dr...",eşrefpaşalılar,2010,185825,Eşrefpaşalılar (2010),Comedy|Drama,"The film is about two friends, Tayyar , a mafi...",[]
16988,23851782,/m/06_vb43,The Ghost Train,1941-05-03,NaN,82.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",the ghost train,1941,123591,The Ghost Train (1941),Comedy|Horror|Thriller,{{plot}} The film opens with a Great Western e...,[English Language]
16989,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0...",knuckle,2011,92836,Knuckle (2011),Documentary,{{No plot}} This film follows 12 years in the ...,[English Language]